html, body, canvas {
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #04052E;
  color: #FFFFFF;
}

a {
  pointer-events: auto;
}

.content {
  pointer-events: none;
  z-index: 1;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  width: 200px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all .7s;
}

.site-title {
  font-size: 50px;
  margin: 0;
  display: block;
  line-height: 1;
}

.site-description {
  font-size: 20px;
  display: block;
  line-height: 1;
  margin: 5px 0 10px 0;
}

.icons-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.icon {
  text-align: center;
  color: #FFFFFF;
  width: 20px;
  height: 20px;
  font-size: 20px;
  padding: 10px;
  margin: 2px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.icon:hover {
  color: #04052E;
  background: #FFFFFF;
}

.icon:active {
  color: #04052E;
  background: #FFFFFF;
}

@media only screen and (min-width: 768px) {
  .content {
    margin: 0;
    width: 100%;
  }

  .site-description {
    font-size: 32px;
  }

  .icon {
    width: 35px;
    height: 35px;
    font-size: 35px;
  }
}
